body{
    overflow-y: hidden;
}
.footer_f{
    background-color: #D9D9D9;
}
.magyO{
    text-align: right;
    padding: 5px;
}
.magyO>img{
    width: 25px;
}
.part_nev{
    padding: 0px;
    margin: 0px;
    text-align: right;
    margin-right: 20px;
}
.footer_logo{
    width: 50px;
    margin-top: 9px;
}
.part_kep{
    padding: 0px;
    margin: 0px;
    margin-top: -6px;
    text-align: left;
}
.copyright{
    text-align: left;
    padding: 5px;
}
.oszlopok{
    width: 98%;
}