body{
    margin: 0%;
    padding: 0%;
    width: 100%;
}
.row{
    display: flex
}
.vonal-vizsz{
    background-color: #050505;
    width: 100%;
    height: 4px; 
}
.vonal{
    background-color: #050505;

}
.logo{
    width: 150px;
}
.Cipo{
    width: 250px;
}
.header{
    width: 100%;

}
.footer{
    width: 100%;
    height: 350px;
}
iframe{
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100%;
}
#fejlec{
    height: 58px;
}
#lablec{
    height: 338px;
    padding: 0px;
    margin: 0px;
}
@media screen and (max-width: 819px){
    #fejlec{
        height: 44px;
    }
}
@media screen and (max-width: 785px){
    #lablec{
        height: 721px;
    }
}

@media screen and (max-width: 517px){
    #fejlec{
        height: 38px;
    }
}