.nepszeru{
    background-color: #E4E3E3;
    

}
.vonal{
    background-color: #050505;
    width: 100%;
    height: 4px;
    
}
.Cipo{
    width: 60%;

}
.card{
    border-color: white;
}