.nepszeru{
    background-color: #E4E3E3;
}

.nepszeru>img{
    width: 500px;
}
.vonal{
    background-color: #050505;
    width: 100%;
    height: 4px;
    
}
.Cipo{
    width: 250px;
}
.valasztasok{
    margin-left: 10px;
}