.nepszeru{
    background-color: #E4E3E3;
    height: 500px;
}

.Cipo{
    width: 250px;
}
.valasztasok{
    margin-left: 10px;
}
.szoveg1{
    margin-top: 150px;
    margin-left: 30px;
}
.szoveg2{
    margin-top: -400px;
    margin-left: 1000px;
}