body{
    padding: 0px;
    margin: 0px;
    cursor: context-menu;
    overflow-y: hidden;
}
.header{
    padding-bottom: 5px;
}
.sneakerz{
    width: 170px;
}
.logo{
    width: 80px;
    margin-top: 10px;
}


.kereses{
    color: black;
    background-color: #F8F5F5;
    border-radius: 20px;
    border: 0px;
    text-decoration: none;
    font-size: 20px;
    float: right;
    width: 200px;
    height: 40px;
    margin-right: 5px;
    margin-top: 8px;
}
.kereses input{
    background-color: #F8F5F5;
    border-color: #F8F5F5;
    border-radius: 20px;
    border: 0px;
    font-size: 20px;
    float: right;
    width: 160px;
    height: 40px;
    padding-left: 14px;
}
.kereses img{
    width: 35px;
    margin-left: 5px;
    margin-top: 3px;
}
.kosar_{
    float: right;
    background-color: #fff;
}
.kosar_>img{
    width: 90px;
}
@media screen and (max-width: 802px){
    .logo{
        width: 50px;
    }
    .kereses input{
        display: none;
    }
    .kereses{
        width: 40px;
        height: 30px;
        border-radius: 15px;
    }
    .kereses img{
        margin-left: 8px;
        margin-top: -8px;
        width: 25px;
    }
    .sneakerz{
        width: 140px;
    }
    .kosar_ img{
        width: 70px;
    }
}

@media screen and (max-width: 500px){
    .logo{
        width: 35px;
    }
    .kereses input{
        display: none;
    }
    .kereses{
        width: 30px;
        height: 25px;
        border-radius: 12,5px;
        margin-top: 5px;
    }
    .kereses img{
        width: 30px;
        margin-left: 0px;
        margin-top: -10px;
    }
    .sneakerz{
        width: 100px;
    }
    .kosar_ img{
        margin-top: 3px;
        width: 50px;
    }
}