body{
    padding: 0px;
    margin: 0px;
    cursor: context-menu;
    overflow-y: hidden;
}
.header{
    padding-bottom: 5px;
}
.sneakerz{
    width: 170px;
}
.logo{
    width: 80px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}
.logo, .sneakerz{
    transition: all 0.15s;
}
.logo:hover, .sneakerz:hover{
    transform: scale(1.07);
}

.kereses{
    color: black;
    background-color: #F8F5F5;
    border-radius: 20px;
    border: 0px;
    text-decoration: none;
    font-size: 20px;
    float: right;
    width: 220px;
    height: 40px;
    margin-right: 5px;
    margin-top: 8px;
    transition: all 0.15s;
}
.kereses:hover{
    transform: scale(1.05);
}
.kereses input{
    background-color: #F8F5F5;
    border-color: #F8F5F5;
    border-radius: 20px;
    border: 0px;
    font-size: 20px;
    float: right;
    width: 160px;
    height: 40px;
}

.kereses img{
    width: 50px;
    margin-left: 0px;
    margin-top: -2px;
    
}
.kosar_{
    float: right;
    background-color: #fff;
}
.kosar_>img:hover{
    transform: scale(1.07);
}
.kosar_>img{
    transition: all 0.15s;
    width: 40px;
    margin-right: 5px;
    margin-top: 8px;
    margin-inline: 15px;
}
#mod{
    float: right;
    margin-top: 13px;
    margin-right: 10px;
}
#mod img{
    height: 30px;
    transition: all 0.15s;
}
#mod img:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 873px){
    .logo{
        width: 50px;
    }
    .kereses input{
        display: none;
    }
    .kereses{
        width: 40px;
        height: 30px;
        border-radius: 15px;
    }
    .kereses img{
        margin-left: 8px;
        margin-top: -8px;
        width: 25px;
    }
    .sneakerz{
        width: 140px;
    }
    .kosar_ img{
        width: 30px;
    }
    #mod img{
        height: 25px;
    }
    #mod{
        margin-top: 10px;
    }
}

@media screen and (max-width: 531px){
    .logo{
        width: 35px;
    }
    .kereses input{
        display: none;
    }
    .kereses{
        width: 30px;
        height: 25px;
        border-radius: 12,5px;
        margin-top: 5px;
    }
    .kereses img{
        width: 30px;
        margin-left: 0px;
        margin-top: -10px;
    }
    .sneakerz{
        width: 100px;
    }
    .kosar_ img{
        margin-top: 5px;
        width: 25px;
        margin-inline: 10px;
    }
    #mod img{
        height: 20px;
    }
    #mod{
        margin-top: 8px;
        margin-right: 7px;
    }
}
@media screen and (max-width: 393px){
    .logo{
        width: 35px;
        display: none;
    }
    .kereses input{
        display: none;
    }
    .kereses{
        width: 30px;
        height: 25px;
        border-radius: 12,5px;
        margin-top: 5px;
    }
    .kereses img{
        width: 30px;
        margin-left: 0px;
        margin-top: -10px;
    }
    .sneakerz{
        width: 100px;
    }
    .kosar_ img{
        margin-top: 4px;
        width: 23px;
    }
    #mod img{
        height: 20px;
    }
    #mod{
        margin-top: 8px;
        margin-right: 7px;
    }
}