.container {
    width: 100%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

#segitseg{
    text-align: center;
}

.segitsegSzoveg{
    width: 65%;
}
